.navbar {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.navbar-brand {
    font-weight: bold;
    font-size: 23px;
    margin: 0 10px;
}

.navbar-toggler {
    border: none;
}

.navbar-items {
    margin-left: 10px;
}